DEBUG=FALSE
SECRET_KEY=)=x^et)b)offd@oyuv25)iey+7&^rb99u(29-q_m6nqufgop17
ALLOWED_HOSTS=*


DB_NAME=${{MySQL.MYSQLDATABASE}}
DB_USER=${{MySQL.MYSQLUSER}}
DB_PASSWORD=${{MySQL.MYSQLPASSWORD}}
DB_HOST=${{MySQL.MYSQLHOST}}
DB_PORT=${{MySQL.MYSQLPORT}}
